.header {
    margin-bottom: 100px;
}

.header__all {
    display: flex;
    align-items: center;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__link {
    position: relative;
    font-weight: 600;
    font-size: 15px;
    color: #D6D4D4E0;
    transition: .4s;
}

.header__link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: darkred;
    transition: width 0.3s ease, left 0.3s ease;
}

.header__link:hover {
    color: #B00000;
}

.header__link:hover::after {
    width: 100%;
    left: 0;
}

.header__title {
    margin-top: 26px;
    width: min(530px, 100%);
    font-weight: 700;
    font-size: 64px;
    color: #2E2E2E;
}

.header__txt {
    padding: 34px 0 60px;
    width: min(405px, 100%);
    font-family: 'Inter';
    font-size: 16px;
    line-height: 28px;
    color: #808080;
}

.header__linkes {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header__links {
    padding: 12px 13.5px;
    font-size: 14px;
    color: #fff;
    border-radius: 8px;
    background: #fff;
    border: 1px solid #000;
    color: #000;
    transition: .4s;
}

.header__links:hover {
    border: 1px solid #000;
    background: #B00000;
    color: #fff;
}

.header__images {
    position: relative;
    margin-top: 100px;
}

.header__img-red {
    position: absolute;
    z-index: 1;
    right: -25px;
    top: 62px;
}

.lest {
    top: 305px;
    left: -25px;
}

.bottom {
    top: 390px;
    right: -25px;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #B00000;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2E2E2E;
}

.modal-content {
    background: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 320px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.modal__inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal__title {
    font-family: 'inter';
    font-size: 20px;
}

.modal__button {
    font-family: 'inter';
    padding: 10px 0;
    color: #fff;
    background: #5d5afa;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.modal__input {
    font-family: 'inter';
    padding: 7px 0 7px 7px;
    border-radius: 8px;
    border: 1px solid #555;
}

.close {
    float: right;
    font-size: 20px;
    cursor: pointer;
}

@media (width <= 1000px) {
    .header__img-red {
        display: none;
    }
}

@media (width <= 1030px) {
    .header__all {
        flex-direction: column;
    }

    .header__big {
        justify-items: center;
        text-align: center;
    }
}

@media (width <= 645px) {
    .header__title {
        font-size: 35px;
    }
}

@media (width <= 640px) {
    .header__bg {
        width: 60%;
    }

    .header__images {
        display: flex;
        justify-content: center;
    }
}